{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block nav-image %}
<h4>{{user.user_types}}</h4>

{% endblock %}
{% block nav-item %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:create_info' %}">Create Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:all_resume' %}">All Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout_view' %}">Logout</a></li>
{% endblock %}
{% block content %}
{% if user.user_types == 'Candidate'%}
    {% for user in user_data %}

        <div class="card" style="width: 60rem; margin-top:15px; margin-left:3rem">
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name }}</h5>
            <div>
            <a class="btn btn-outline-info " href="{% url 'dashboard:add_details' user.id %}">Update resume</a>
            <a class="btn btn-outline-primary " target="_blank" href="{% url 'dashboard:user_resume' user.id %}">View resume</a>
            <a class="btn btn-outline-secondary " target="_blank" href="{% url 'dashboard:generatepdf' user.id %}">Download resume</a>
            <a class="btn btn-outline-danger" style="float:right;" href="{% url 'dashboard:delete_resume' user.id %}">Delete resume</a>
            </div>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="text-center">
    <a class="btn btn-outline-info" href="{% url 'dashboard:create_info' %}">Create resume</a>
    </div>
{% endif %}

{% endblock %}