{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block nav-image %}
<a class="navbar-brand js-scroll-trigger"><span class="d-block d-lg-none">Resume-{{user_data.first_name}}</span><span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ user_data.image.url }}" alt="" /></span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
{% endblock %}
{% block nav-item %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:create_info' %}">Create Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:all_resume' %}">All Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout_view' %}">Logout</a></li>
{% endblock %}
{% block content %}
    {% for certificate in certificates %}
        <div class="card" style="width: 60rem; margin-top:15px; margin-left:3rem">
            <div class="card-body">
                <h5 class="card-title">{{ certificate.certificates }}</h5>
            <div>
            <a class="btn btn-sm btn-info " href="{% url 'dashboard:update_certificate' certificate.id %}">Update certificate</a>
            <a class="btn btn-sm btn-danger" style="float:right;" href="{% url 'dashboard:delete_certificate' certificate.id %}">Delete certificate</a>
            </div>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="text-center">
    <a class="btn btn-sm btn-info" href="{% url 'dashboard:create_certificates' user_data.id %}">Add certificate</a>
    </div>
{% endblock %}