{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block nav-item %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:create_info' %}">Create Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:all_resume' %}">All Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout_view' %}">Logout</a></li>
{% endblock %}
{% block content %}
    {% for experience in experiences %}
        <div class="card" style="width: 60rem; margin-top:15px; margin-left:3rem">
            <div class="card-body">
                <h5 class="card-title">{{ experience.name }}</h5>
            <div>
                <p class="card-text">{{ experience.position }}</p>
            </div>
            <div>
            <a class="btn btn-sm btn-info " href="{% url 'dashboard:update_experience' experience.id %}">Update Experience</a>
            <a class="btn btn-sm btn-danger" style="float:right;" href="{% url 'dashboard:delete_experience' experience.id %}">Delete Experience</a>
            </div>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="text-center">
    <a class="btn btn-sm btn-info" href="{% url 'dashboard:create_experience' user_data.id %}">Add Experience</a>
    </div>
{% endblock %}