{% extends 'base.html' %}
{% load static %}
{% block nav-image %}
<h4>{{user.user_types}}</h4>
<a class="navbar-brand js-scroll-trigger"><span class="d-block d-lg-none"></span><span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/media/user/logo.png" alt="" /></span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
{% endblock %}
{% block nav-item %}<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:search_resume' %}">Search Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'dashboard:all_resume' %}">All Resume</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout_view' %}">Logout</a></li>
{% endblock %}
{% block content %}
{% if user.user_types == 'Recruiter'%}
              <form action="{% url 'dashboard:search_resume' %}" method="post">
                {% csrf_token %}
                <h2 class="heading">Resume Filter</h2>
                <div class="probootstrap-field-group">
                  <div class="probootstrap-fields">
                        <div class="form-group">
                            <label>Skill</label>
                            <input type="text" class="form-control" name="skill" placeholder="Skill" required="true">
                        </div>
                        <div class="form-group">
                            <label>Experience</label>
                            <input type="number" min="0" class="form-control" name="exp" placeholder="Experience" required="true">
                        </div>                  
                  </div>
                  <div class=text-center>
                  <button class="btn btn-success" type="submit">Search</button>
                </div>
                </div>
              </form>

{% endif %}
{% endblock %}